<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}

  {% block menu %}
    <ul>
      <li><a href="{{ path('exercises') }}">{{ 'exercise.list'|trans }}</a></li>
      <li><a href="{{ path('workouts') }}">{{ 'workout.list'|trans }}</a></li>
    </ul>
  {% endblock menu %}

  {% block content '' %}

  {% block javascripts '' %}
{% endblock %}
</body>
</html>
