{% extends 'FTFrontBundle:Workout:layout.html.twig' %}

{% block content -%}
  <h2>{{ entity.title }}</h2>

  <ul>
    {% if entity.brief %}
      <li><strong>{{ 'workout.brief'|trans }}</strong>: {{ entity.brief }}</li>
    {% endif %}
    <li><strong>{{ 'workout.created_at'|trans }}</strong>: {{ entity.createdAt|date('d F Y') }}</li>
  </ul>

  <ul>
    <li><a href="{{ path('workouts_edit', { 'id': entity.id }) }}">{{ 'Edit'|trans }}</a></li>
    <li>{{ form(delete_form) }}</li>
  </ul>
{% endblock %}
