{% extends "::base.html.twig" %}

{% block content -%}
  <div class="row">
    <div class="col-md-12">
      <h3>{{ 'user_exercise.index.caption'|trans }}</h3>
      <table class="table">
        <thead>
        <tr>
          <th>{{ 'user_exercise.index.list.title'|trans }}</th>
          <th>{{ 'user_exercise.index.list.created_at'|trans }}</th>
          <th>{{ 'user_exercise.index.list.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for exercise in exercises %}
          <tr>
            <td><a href="{{ path('exercise_show', { 'id': exercise.id }) }}">{{ exercise.title }}</a></td>
            <td>{{ exercise.createdAt|date("d F Y") }}</td>
            <td>{{ 'user_exercise.index.actions.edit'|trans }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      {% if exercises|length > 0 and paginator.totalPages > 1 %}
        {{ include('FTFrontBundle:Common:pagination.html.twig', { 'paginator': paginator }) }}
      {% endif %}
    </div>
  </div>
{% endblock %}
